sudo: true
dist: trusty
language: node_js
node_js:
  - '10'
cache: npm
ssh_known_hosts: 206.189.169.212
branches:
  only:
    - master
env:
  global:
    - REMOTE_USER=root
    - REMOTE_HOST=206.189.169.212
    - PORT=3000
before_install:
  - openssl aes-256-cbc -K $encrypted_ea0378058e19_key -iv $encrypted_ea0378058e19_iv
    -in deploy_key.enc -out ./deploy_key -d
  - eval "$(ssh-agent -s)"
  - chmod 600 ./deploy_key
  - echo -e "Host $REMOTE_HOST\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - ssh-add ./deploy_key
  - ssh -i ./deploy_key root@$REMOTE_HOST pwd
  - npm install -g npm
  - chmod +x .travis/deploy.sh
install:
  - npm install
before_script:
  - openssl aes-256-cbc -K $encrypted_ea0378058e19_key -iv $encrypted_ea0378058e19_iv
    -in deploy_key.enc -out ./deploy_key -d
  - eval "$(ssh-agent -s)"
  - chmod 600 ./deploy_key
  - ssh-add ./deploy_key
script:
  - npm run build-css && REACT_APP_ENV=production react-scripts build
before_deploy:
  - openssl aes-256-cbc -K $encrypted_ea0378058e19_key -iv $encrypted_ea0378058e19_iv
    -in deploy_key.enc -out ./deploy_key -d
  - eval "$(ssh-agent -s)"
  - chmod 600 ./deploy_key
  - ssh-add ./deploy_key
deploy:
  skip_cleanup: true
  provider: script
  script: bash .travis/deploy.sh production
  on:
    branch: master
notifications:
  slack:
    secure: JgoEFCkXVZ6JilwzHKzdzxHGCRXgFcjiEwHp9EseIBiKRdRvJpNAevW218RRQcBg6olPz5ugsMazMwqWRiCSKGw0RH0jEIwZHjSxC8n7JwogkAGwYl0FqVswrNGzf3Q7P+lZlmAb1XTYbnfoIwUu/uUbog9xBDq/Em+gbzOMJk+1VdzYAVM90eExxsLRdvExvYSndleX4Afuk1CxBE5buMUpTWvi8LuFtg6o4JhAmE4EAVLn5SpvgZeT7HSwFaRFUbCGr6lt1mM6ppBjGq34zEUp4DpHvlTVCOSO0/TMgPlFcLMHlob119R/Q04dWFoggD7EMGV6jjFLq4j5iEqDDTRVkbBQMXxDJlPNhzGPoXfjKB69eu2T9ktnKonWGDo7wiEtEbAzWfJzPxghzuU1Z55ENK8xEEIml1wVdn/yPhPJC62isyCzib+2jtObFeVAxBc+WePs0XwEwTc4nCcGMVoE7phl3+TnveMw2qw8sYFFetIDseHqZELhYoERzU7NacEtwQ0cKforbKb2F6N6KkwN4nDkp+hu26sum2dhX4ZLgzf//d84/2Ebe37wMumaLkzK89PiWL5wQzHCx2epg4+D6PT4XSyGPPgYrYYacALY9i/hBnZ62NQIrS00G6ZfYiGxUdX5kt13GhxWwdMRqG+JpQBbN8Xb1FMgnQHNuog=
