$drop-shadow: rgba(0, 0, 0, .14);

// Media queries
@import '../../assets/styles/media-queries.scss';

.icon {
  bottom: 5vh;
  filter: drop-shadow(0 1px 2px $drop-shadow);
  height: 4.8rem;
  opacity: 1;
  position: fixed;
  right: 5vw;
  width: 4.8rem;
}

.isVisuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.location {
  z-index: 21;
}

.stroke {
  stroke: #2d2d31;
  transition: stroke .2s ease-out;
}

@include iphone-4 {
  .icon {
    height: 3.8rem;
    width: 3.8rem;
  }

  .location {
    bottom: 1.4em;
    opacity: 1;
    position: fixed;
    right: 1.4em;
  }
}

@include iphone-5 {
  .icon {
    height: 3.8rem;
    width: 3.8rem;
  }

  .location {
    bottom: 1.4em;
    opacity: 1;
    position: fixed;
    right: 1.4em;
  }
}

@include iphone-6-up {
  .icon {
    height: 3.8rem;
    width: 3.8rem;
  }

  .location {
    bottom: 1.4em;
    opacity: 1;
    position: fixed;
    right: 1.4em;
  }
}

@include iphone-x {
  .icon {
    height: 4.5rem;
    width: 4.5rem;
  }

  .location {
    bottom: 1.4em;
    opacity: 1;
    position: fixed;
    right: 1.4em;
  }
}

@include iphone-xr-max {
  .icon {
    height: 3.8rem;
    width: 3.8rem;
  }

  .location {
    bottom: 1.4em;
    opacity: 1;
    position: fixed;
    right: 1.4em;
  }
}

@include xxs {
  .location {
    bottom: 1.4em;
    opacity: 1;
    position: fixed;
    right: 1.4em;
  }
}

@include sm {
  .location {
    bottom: 2.4em;
    opacity: 1;
    position: fixed;
    right: 2.4em;
  }
}

@include md {
  .navButton {
    display: none;
  }
}

@include lg {
  .navButton {
    display: none;
  }

  .location {
    bottom: 3em;
    opacity: 1;
    position: fixed;
    right: 3em;
  }
}

@include xl {
  .navButton {
    display: none;
  }

  .location {
    bottom: 3.2em;
    opacity: 1;
    position: fixed;
    right: 3.2em;
  }
}
