// Formatting
@import '../../assets/styles/formatting.scss';

.closeControls {
  button {
    appearance: none;
    background: 0 0;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    padding: 0;
    text-align: left;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  position: absolute;
}

.icon {
  >* {
    left: 50%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
  }
  display: inline-block;
  filter: drop-shadow(0 1px 2px $drop-shadow);
  height: 4.8rem;
  opacity: 1;
  position: relative;
  width: 4.8rem;
}

.isVisuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.navButton {
  @extend %invisibleButton;

  align-items: center;
  right: 5vw;
  display: flex;
  height: 4.8rem;
  opacity: 1;
  position: fixed;
  width: 4.8rem;
  z-index: 21;
}

.location {
  left: 5vw;
  top: 7.5vw;
  z-index: 21;
}

.stroke {
  stroke: #2d2d31;
  transition: stroke .2s ease-out;
}

@include iphone-4 {
  .icon {
    height: 3.8rem;
    width: 3.8rem;
  }

  .location {
    top: 7.5vw;
    opacity: 1;
  }
}

@include iphone-5 {
  .icon {
    height: 3.8rem;
    width: 3.8rem;
  }

  .location {
    top: 7.5vw;
    opacity: 1;
  }
}

@include iphone-6-up {
  .icon {
    height: 3.8rem;
    width: 3.8rem;
  }

  .location {
    top: 7.5vw;
  }
}

@include iphone-x {
  .icon {
    height: 4.5rem;
    width: 4.5rem;
  }

  .location {
    top: 7.8vw;
  }
}

@include iphone-xr-max {
  .icon {
    height: 3.8rem;
    width: 3.8rem;
  }

  .location {
    top: 7.5vw;
  }
}

@include xxs {
  .closeControls {
    display: none;
  }

  .location {
    top: 7.5vw;
  }
}

@include xs {
  .closeControls {
    display: none;
  }

  .location {
    top: 7.5vw;
  }
}

@include sm {
  .closeControls {
    display: none;
  }

  .location {
    top: 7.5vw;
  }
}

@include md {
  .closeControls {
    right: 5vw;
    top: 8rem;
  }

  .navButton {
    display: none;
  }
}

@include lg {
  .navButton {
    display: none;
  }

  .location {
    top: 7.5vw;
  }
}

@include xl {
  .closeControls {
    right: 13vw;
    top: 8rem;
  }

  .navButton {
    display: none;
  }

  .location {
    bottom: 3.2em;
    opacity: 1;
    position: fixed;
  }
}
