// Formatting
@import './assets/styles/formatting.scss';

body {
  background-color: $white;
  font-family: $font-stack;
}

.aboutDrawer {
  background-color: $white;
  left: 0;
  right: 0;
  height: 40vh;
  width: 100vw;
  transform-origin: top;
}

.bgLight {
  background-color: $clear !important;
}

.boxTop4 {
  display: block;
  padding-top: 3.2rem;
}

.captionBox {
  font-family: $font-stack;
}

.coachella-header {
  color: $grey-darker;
  font-weight: bold;
  letter-spacing: .2em;
  padding: 1em 2em .5em;
}

.coachella-header__small {
  color: #000;
  padding: 0 2em 0 10em;
}

.colNoPadding {
  padding-left: 0;
  padding-right: 0;
}

.contentPanel {
  background-color: $clear !important;
  display: block;
}

.form-control {
  color: unset !important;
}

.hr {
  background-color: $hot-pink;
  height: .5px;
  margin: 0;
  text-align: left;
  width: 4rem;
}

.hrSmall {
  width: 1.6rem;
}

.isVisuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.liveTranscriptText {
  display: block;
  letter-spacing: .05em;
  line-height: 1.5em;
  margin: 0;
  min-height: unset;
  overflow: hidden;
  text-align: left;
  text-shadow: unset !important;
  white-space: pre-wrap;
  word-break: break-word;
}

.ml-auto, .mx-auto {
  margin-right: 6em;
}

.navbar {
  background-color: $clear !important;
  font-family: $font-stack;
  font-weight: 400;
  min-width: 100vw;
}

.navItem {
  button {
    appearance: none;
    background: 0 0;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    transition: opacity .01s ease-in;

    &:focus {
      outline: none;
    }

    > span {
      border: 0;
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      margin: 0;
      padding: 0;
      position: relative;
      vertical-align: baseline;
    }
  }
}

.navLink {
  &:hover {
    >::after {
      transform: scaleX(.5);
    }
  }

  &:active {
    >::after {
      transform: scaleX(1);
    }
  }

  &:focus {
    >::after {
      transform: scaleX(1);
    }
  }

  >::after {
    background: $hot-pink;
    bottom: 0;
    content: '';
    height: .2rem;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform .4s ease-out;
    width: 100%;
  }

  color: $almost-black !important;
  font-family: $font-stack;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .18rem !important;
  padding: 2rem;
  position: relative;
}

.logoCoachella {
  height: 2rem !important;
  padding: .5rem;
  margin: 0 0 0 13em;
  position: unset;
}

.navWhite {
  background-color: $white !important;
  border-bottom: 1px solid $white;
  transition: background-color .35s ease-in-out;
}

.responsiveFlower {
  background-image: url('./assets/images/hero-flower.png');
  background-position: right;
  background-size: contain;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 16em;
  transition: opacity .2s ease-in-out;
  width: 100%;
  will-change: opacity;
  background-repeat: no-repeat;
}

.responsiveSprig {
  background-image: url('./assets/images/hero-palm-2.png');
  background-position: right;
  background-size: contain;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 16rem;
  transition: opacity .2s ease-in-out;
  width: 100%;
  will-change: opacity;
  background-repeat: no-repeat;
}

.responsiveStar {
  background-image: url('./assets/images/hero-star.png');
  background-position: right;
  background-size: contain;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 16em;
  transition: opacity .2s ease-in-out;
  width: 100%;
  will-change: opacity;
  background-repeat: no-repeat;
}

.rowNoMargin {
  margin: 0;
}

.TheBackground {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  z-index: -1;
}

.TheBackgroundVideo {
  bottom: 0;
  height: 100vh;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 1s ease-in-out;
  width: 100vw;
  z-index: -1;
}

.trackTitle {
  font-family: $font-stack;
}

.trackTitle .mainHeader {
  h1 {
    font-family: $font-stack;
    font-weight: 600;
  }
}

.upperModule {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: $grey-darker;
  display: table-row-group;
  margin: 6rem 0 3rem;
  position: relative;
}

.upperModuleWrapper {
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  right: 0;
  top: 0;
  width: 100%;
}

// Mobile queries ======================

@include iphone-4 {
  .contentPanel {
    max-width: 100%;
  }

  .liveTranscriptText {
    font-size: 1.8rem;
    padding: 1em .1em;
  }

  .trackTitle {
    margin-top: 2em;
    padding: 0;

    h1 {
      font-size: 1.7rem;
    }

    h3 {
      font-size: 1.2rem;
      padding: 1.2rem 0;
    }
  }
}

@include iphone-5 {
  .contentPanel {
    max-width: 100%;
  }

  .liveTranscriptText {
    font-size: 1.8rem;
    padding: 1.6em .1em 1em;
  }

  .trackTitle {
    h1 {
      font-size: 1.7rem;
    }

    h3 {
      font-size: 1.2rem;
      padding: 1.2rem 0;
    }
  }
}

@include iphone-6-up {
  .contentPanel {
    max-width: 100%;
  }

  .liveTranscriptText {
    font-size: 1.8rem;
    padding: 1.6em .1em 1em;
  }

  .trackTitle {
    h1 {
      font-size: 1.7rem;
    }

    h3 {
      font-size: 1.2rem;
      padding: 1.2rem 0;
    }
  }
}

@include iphone-x {
  .contentPanel {
    max-width: 100%;
  }

  .liveTranscriptText {
    font-size: 2rem;
    padding: 0 .1em 1em;
  }

  .trackTitle {
    h1 {
      font-size: 1.7rem;
    }

    h3 {
      font-size: 1.2rem;
      padding: 1.2rem 0;
    }
  }
}

@include iphone-xr-max {
  .contentPanel {
    max-width: 100%;
  }

  .liveTranscriptText {
    font-size: 1.6rem;
    padding: 1.6em .1em 1em;
  }

  .trackTitle {
    h1 {
      font-size: 1.7rem;
    }

    h3 {
      font-size: 1.2rem;
      padding: 1.2rem 0;
    }
  }
}

// Desktop queries ======================

@include xxs {
  .contentPanel {
    max-width: 100%;
    padding: 0 5vw;
  }

  .liveTranscriptText {
    font-size: 1.9rem;
    padding-bottom: 1.2rem;
  }

  #logo {
    height: 2.4rem;
    overflow: visible;
    position: unset;
    width: 12rem;
  }

  .navbar {
    height: 10rem;
    padding: 0 5vw;
  }

  .responsiveFlower {
    height: 40%;
  }

  .responsiveSprig {
    height: 40%;
  }

  .responsiveStar {
    height: 40%;
  }

  .trackTitle {
    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 1.5rem;
      padding: 1.2rem 0;
    }
  }

  .trackTitle .mainHeader {
    h1 {
      font-size: 4rem;
      margin: 0 0 2rem;
    }
  }
}

@include xs {
  .contentPanel {
    max-width: 100%;
    padding: 0 5vw;
  }

  .liveTranscriptText {
    font-size: 2rem;
  }

  #logo {
    height: 2.4rem;
    overflow: visible;
    position: unset;
    width: 12rem;
  }

  .navbar {
    height: 10rem;
    padding: 0 5vw;
  }

  .responsiveFlower {
    height: 30%;
  }

  .responsiveSprig {
    height: 30%;
  }

  .responsiveStar {
    height: 30%;
  }

  .trackTitle {
    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 1.5rem;
      padding: 1.2rem 0;
    }

    padding: 2rem 0;
  }

  .trackTitle .mainHeader {
    h1 {
      font-size: 4rem;
    }
  }
}

@include sm {
  .burger {
    display: none;
  }

  .contentPanel {
    max-width: 100%;
    padding: 0 5vw;
  }

  .liveTranscriptText {
    font-size: 2.2rem;
    padding-bottom: 1.6rem;
  }

  #logo {
    height: 2.4rem;
    margin: 0;
    overflow: visible;
    position: unset;
    width: 12rem;
  }

  .navbar {
    height: 10rem;
    padding: 0 5vw;
  }

  .responsiveFlower {
    height: 30%;
  }

  .responsiveSprig {
    height: 30%;
  }

  .responsiveStar {
    height: 30%;
  }

  .trackTitle {
    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 2rem;
      padding: 1.2rem 0;
    }

    padding: 2rem 0;
  }

  .trackTitle .mainHeader {
    h1 {
      font-size: 5rem;
    }
  }
}

@include md {
  .burger {
    display: block;
  }

  .contentPanel {
    max-width: 70%;
    padding: 0 5vw;
  }

  .liveTranscriptText {
    font-size: 2.1rem;
    padding-bottom: 1.7rem;
  }

  .navbar {
    height: 10rem;
    padding: 0 5vw;
  }

  #logo {
    height: 2.6rem;
    margin: 0;
    overflow: visible;
    position: unset;
    width: 13rem;
  }

  .responsiveFlower {
    height: 50%;
  }

  .responsiveSprig {
    height: 50%;
  }

  .responsiveStar {
    height: 50%;
  }

  .trackTitle {
    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 2rem;
      padding: 1.2rem 0;
    }

    padding: 5rem 0;
  }
}

.trackTitle .mainHeader {
  h1 {
    font-size: 5rem;
  }
}

@include lg {
  .burger {
    display: none;
  }

  .contentPanel {
    padding: 0 5vw;
    max-width: 70%;
  }

  .liveTranscriptText {
    font-size: 2.3rem;
  }

  .responsiveFlower {
    height: 60%;
  }

  .responsiveSprig {
    height: 60%;
  }

  .responsiveStar {
    height: 60%;
  }

  .trackTitle {
    h1 {
      font-size: 3.5rem;
    }

    h3 {
      font-size: 2rem;
      padding: 1.2rem 0;
    }

    padding: 9rem 0;
  }

  .trackTitle .mainHeader {
    h1 {
      font-size: 6rem;
    }
  }
}

@include xl {
  .burger {
    display: none;
  }

  .contentPanel {
    padding: 0 13vw;
    max-width: 70%;
  }

  .liveTranscriptText {
    font-size: 2.9rem;
    padding-bottom: 2rem;
  }

  .navbar {
    height: 10rem;
    padding: 0 13vw;
  }

  .responsiveFlower {
    height: 70%;
  }

  .responsiveSprig {
    height: 70%;
  }

  .responsiveStar {
    height: 70%;
  }

  .trackTitle {
    h1 {
      font-size: 3.5rem;
    }

    h3 {
      font-size: 2rem;
      padding: 1.2rem 0;
    }
  }

  .trackTitle .mainHeader {
    h1 {
      font-size: 8.8rem;
    }
  }
}
