@import './assets/styles/formatting.scss';

html {
  font-size: 62.5%;
}

html, body {
  &.modal-open {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  -webkit-font-smoothing: antialiased;
}

.css-3pxmmn {
  transition: all 1s ease-out;
  will-change: transform;
}

@include xs {
  .css-3pxmmn {
    top: 0 !important;
  }
}

@include sm {
  .css-3pxmmn {
    top: 0 !important;
  }
}

@include lg {
  .css-3pxmmn {
    top: 5.4vw !important;
  }
}

.navbar-brand {
  margin-left: 0;
  margin-right: 0;
  padding: .2rem 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  font-family: 'Poppins Medium', sans-serif;
  padding: 0 1.7em;
}
